.navigation-bar {
  font-family: var(--main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--main-font-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
  display: flex;
  margin-top: 24px;
}

.position-header {
  display: flex;
  height: 80px;
}

.navigation-link {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--thread-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  display: flex;
  margin-top: 8px;
  margin-left: 93px;
}

.mail-link {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--thread-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-for-text);
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
  display: flex;
  flex-direction: row-reverse;
  transition-duration: 250ms;
  transition-timing-function: (0.4, 0, 0.2, 1);
}

.phone-link {
  font-family: var(--secondary-main-font-family);
  font-style: var(--main-font-style);
  font-weight: var(--thread-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-for-text);
  display: flex;
  flex-direction: row-reverse;
  transition-duration: 250ms;
  transition-timing-function: (0.4, 0, 0.2, 1);
}

.navigation-link__position:not(:last-child) {
  margin-right: 50px;
}

.mail-phone__position {
  display: flex;
  margin-top: 28px;
  margin-left: auto;
  height: 20px;
}

.mail-phone__logo {
  margin-right: 10px;
  fill: var(--secondary-color-for-text);
}

.position-link__mail {
  display: flex;
  margin-right: 30px;
}

.position-link-phone {
  display: flex;
}

.navigation-bar a {
  color: var(--color-for-links-of-navigation);
}

.navigation-bar__contacts {
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: (0.4, 0, 0.2, 1);
}

.navigation-bar__studio {
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: (0.4, 0, 0.2, 1);
}

.navigation-bar__portfolio {
  color: var(--main-color);
  transition-duration: 250ms;
  transition-timing-function: (0.4, 0, 0.2, 1);
}

.logo__three-letters {
  color: var(--main-color-hover-focus);
}

.navigation-bar__studio:hover,
.navigation-bar__portfolio:hover,
.navigation-bar__contacts:hover,
.mail-link:hover,
.phone-link:hover {
  color: var(--main-color-hover-focus);
}

.mail-link:hover svg,
.phone-link:hover svg {
  fill: var(--main-color-hover-focus);
}

.navigation-bar__portfolio:focus,
.navigation-bar__studio:focus,
.navigation-bar__contacts:focus,
.mail-link:focus,
.phone-link:focus {
  color: var(--main-color-hover-focus);
}

.mail-link:focus,
.phone-link:focus {
  color: var(--main-color-hover-focus);
}

.mail-link:focus svg,
.phone-link:focus svg {
  fill: var(--main-color-hover-focus);
}

.mail-link:focus {
  fill: var(--main-color-hover-focus);
}
